@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: #fff;
  position: absolute;
  white-space: nowrap;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.btn {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: solid #fff 0.2rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.split.left {
  left: 0;
  background: url('images/ps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url('images/xbox.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all 1000ms ease-in-out;
}

.hover-left .left,
.hover-right .right {
  width: 70%;
}

.hover-left .right,
.hover-right .left {
  width: 30%;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
    top: 20%;
  }
  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
}
